.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.aadharcad-container {
  margin-top: 50px;
}

.aadharcad {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aadharcad p {
  margin: 10px 0;
}

.aadharcad p strong {
  font-weight: bold;
}
